$balanced: #228B22;
$SIDEMENU_TOP: #228B22;
$SIDEMENU_BOTTOM: #00FF00;
$SIDEMENU_TRANSPARENCY: rgba(255,255,0,0.4);
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
// This code is required for Angular Google Maps to funciton
ui-gmap-google-map {
	height: 100%;
	width: 100%;
	display: block;
	.angular-google-map {
		height: 100%;
		.angular-google-map-container {
			height: 100%;
		}
		
	}
}
//Pasted from "beautiful side menus tutorial"

//This is the gradient top

//This is the gradient bottom




.side-menu-item {
	background: none;
	//This is the font color
	    color: white;
	font-weight: 300;
	border: 0px;
	.item-content {
		background: none;
		&.activated {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
	&.active-page-highlight {
		.item-content {
			background: $SIDEMENU_TRANSPARENCY;
		}
		
	}
}
.side-menu-gradient {
	background: -webkit-linear-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
	background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

